# compiled output
nestjs/dist
nestjs/node_modules

nestjs/logs
nestjs/*.log
nestjs/npm-debug.log*
nestjs/pnpm-debug.log*
nestjs/yarn-debug.log*
nestjs/yarn-error.log*
nestjs/lerna-debug.log*

# OS
.DS_Store

# Tests
nestj//coverage
nestjs/.nyc_output

# IDEs and editors
nestjs/.idea
nestjs/.project
nestjs/.classpath
nestjs/.c9/
nestjs/*.launch
nestjs/.settings/
nestjs/*.sublime-workspace

# IDE - VSCode
nestjs/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
